#footer {
  padding: 4rem 0;
  background-color: #f8fafd;
  border-top: 1px solid #dfe3eb;
}
.listFooter {
  font-size: 1.6rem;
  color: var(--color-text);
}

.listFooter li {
  line-height: 3rem;
}

.image {
  width: 18rem;
}
