.image {
  width: 100%;
  height: 26rem;
}
.headTitle {
  color: var(--color-black);
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

.title {
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: 600;
  line-height: 2.4rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.boxDate {
  padding-bottom: 1rem;
}
.date {
  color: #777;
  font-size: 1.7rem;
}
.description {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--color-black);
}

.imageCard {
  width: 100%;
  height: 20rem;
}

.buttonSee {
  padding: 1.2rem 4rem;
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #fff;
  font-size: 2rem;
  border: none;
  font-weight: 600;
}
.buttonSee:hover {
  background: var(--color-primary);
  color: #fff;
  transition: all 0.5s ease;
}
.boxButton {
  text-align: center;
  margin-top: 2rem;
}
